<appSettings>
	<add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	
	<!-- Auth Tokens -->
	<add key="Strava.ClientSecret" value="9ec91cabffb6a7a9b97e2c54923e69a29b59b185"/>
	<add key="Strava.ClientId" value="19132"/>
	<add key="Strava.PublicToken" value="09d126132e36a03685df3f37dded63bca68ae023"/>
</appSettings>